/***************************************************
   Pagination
***************************************************/
.navigation{
  margin-bottom: 3rem;
  ul{
    list-style: none;
    padding: 0;
    li{
      display: inline-block;
      &.current{
         a{
           background-color: $primary_light;
           color: #fff;
           cursor: no-drop;
         }
      }

       a{
         text-align: center;
         padding: 10px 15px;
         color: $primary;
         display: block;
         background: #fff;
         border: 1px solid #ececec;
         border-radius: 2px;
         transition: all .2s ease;
         &:hover{
           background-color: $primary_light;
           color: #fff;
         }
       }
    }
  }
}