/**
* Theme: Sorin
* @package Sorin
**/

/* Required WordPress Alignment */

.alignleft,
.align-left {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.alignright,
.align-right {
  display: inline;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
.aligncenter,
.align-center {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}
.nocenter {
  text-align: left;
}
/* Normal WordPress captions */

.wp-caption {
  max-width: 100%;
}
.wp-caption-text,
.gallery-caption {
  text-shadow: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  /*margin-top: -22px;*/
  /* Offset Bootstrap .thumbnail class */

  margin-bottom: 22px;
}
/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;

}
/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}