/*Colors*/
$primary : #188ff4;
$primary_dark : #247cc7;
$primary_light : #51abf7;


$secondary: #333333;
//$secondary_dark: #451e3e;
//$secondary_light: #851e3e;


$heading_color: #4c4c4c;
$body_color: #333;

/*breakpoints*/

$xl_min: 1200px;
$xl_max: 1199px;

$lg_min: 992px;
$lg_max: 991px;

$md_min: 768px;
$md_max: 767px;

$sm_min: 576px;
$sm_max: 575px;



/*font*/
$workSans : 'Work Sans', sans-serif;